* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  font-family: "Arial", sans-serif;
  background-image: url("https://img.freepik.com/free-photo/black-friday-sales-arrangement-with-copy-space_23-2148665596.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav-bar {
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 1rem 0;
  text-align: center;
}

.nav-link {
  text-decoration: none;
  color: white;
  margin: 0 15px;
  font-weight: bold;
}

.nav-link:hover {
  color: #c0c0c0;
  transition: color 0.3s ease-in-out;
}

.welcome h1 {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  font-size: 2.5em;
  text-align: center;
  margin-top: 2rem;
}

.container-img {
  text-align: center;
  padding: 2rem;
  position: relative;
  /* width: fit-content; */
}
.time-overlay {
  position: absolute;
  top: 50%; /* Adjust these values to center the time on the watch face */
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* or any color that makes the time visible over your watch */
  font-size: 2em; /* Adjust size accordingly */
  font-family: "Arial", sans-serif;
}
.img {
  max-width: 30%;
  height: auto;
  border: 5px solid white;
  border-radius: 10px;
}

.button-choose-colorWatch {
  text-align: center;
  padding: 1rem;
}

.button-color {
  cursor: pointer;
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 10px;
  border: 2px solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.button-color:hover {
  transform: scale(1.1);
}

#wbtn-black {
  background-color: black;
}
#wbtn-purple {
  background-color: #565681;
}
#wbtn-orange {
  background-color: #ca3d22;
}
#wbtn-beig {
  background-color: #e9c7be;
}
#color5 {
  background-color: #5a1a27;
}

.footer {
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer p {
  font-size: 1em;
}

@media (max-width: 768px) {
  .welcome h1 {
    font-size: 6vw;
  }
}

@media (max-width: 480px) {
  .welcome h1 {
    font-size: 5.5vw;
  }

  .nav-link {
    padding: 10px;
    font-size: 4vw;
  }
  .time-overlay {
    font-size: 2vw;
  }

  .container-img {
    padding: 1rem;
  }

  .button-choose-colorWatch {
    padding: 0.5rem;
  }

  .button-color {
    width: 35px;
    height: 35px;
    margin: 5px;
  }
}
